.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  position: fixed;
  padding: 20px;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  text-align: center;
}

.h1 {
  margin: 0 !important;
  padding: 0 !important;
}
