.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.footer {
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 100%;
  padding-top: 10px;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
}

.h1 {
  margin: 0 !important;
  padding: 0 !important;
}
